html {
    font-family: "Calisto MT", "Georgia", serif;
    font-size: 16px;
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: 10% 80% 10%;

}

header {
    display: grid;
    grid-template-rows: 40% 60%;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

main {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 150px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 20% 50%; 

}

footer {
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

#profilePic {
    background-image: url("../images/placeholderMe.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
}

#iconA, 
#iconB, 
#iconC, 
#iconD,
#iconE {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px dashed black;
}

#iconA {
    background-image: url("../images/EEElogo.jpg");
    background-size: cover;
}

#iconB {
    background-image: url("../images/html5 logo.png");
    background-size: cover;
    background-position: center;
}

#iconC {
    background-image: url("../images/css5logoSmaller.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#iconD {
    background-image: url("../images/javaScriptlogo.png");
    background-size: cover;
}

#iconE {
    background-image: url("../images/gitlogo.png");
    background-size: cover;
}


